
# Activar RewriteEngine
RewriteEngine on
 
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

# Reescribir la URL solicitada por el usuario
#   Entrada:  clientes/NOMBRE/
#   Salida: clientes.php?id=NOMBRE
#RewriteRule ^(\w+)/?$ dashboard.php?id=$1
#RewriteRule ^(.*)/?$ dashboard.php?id=$1
#RewriteRule ^(.*)$ $1.php
#RewriteRule ^(.*)$ $1.php
#RewriteRule ^Ebook/?$ VistaHtml.php
RewriteRule ^Dashboard/?$ Dashboard.php
RewriteRule ^Registrar/?$ Registrar.php
RewriteRule ^Listausuarios/?$ Listausuarios.php
RewriteRule ^LibrosDisponible/?$ LibrosDisponible.php
RewriteRule ^Upload/?$ Upload.php
RewriteRule ^Ebook/(.*)/(.*) VistaHtml.php?id=$1&con=$2